body	{background-color:#455964;
}

hr		{border-color:#000000;
}
.headertext h3 {text-align:center;
			color:#FFFFFF;
}
.headertext small {color:#DDDDDD;
			
}

button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}


.everyother  li:nth-child(odd){background-color:#2D3336;
}
			li:nth-child(even){background-color:#12212A;
}
			ul {list-style-type:none;
			font-size:18pt;
}
			a {color:#FFFFFF;
}

.everyother li:hover{background-color:#445561;
}
			
.logo {margin-top:10px;
	   text-align:center;
	   background: linear-gradient(#0F181E, #30383D); 
	   height:50%;
	   
}

.content {background-color:#434F56;
		height:100%;
		margin-left:5px;
		width: 77%;
		float:right;
}

.menubar {background-color:#434F56;
		  padding: 10px 10px 0px 0px;
		  width: 20%;
		  text-align:center;
		  height:27em;
}

.body {margin:0% 5% 5% 5%;
}

.ad {width:95%;
	padding: 0px 0px 5px 20px;
}

.maintext {background-color:#EDEDED;
			height:20em;
			margin:10px 10px 25px 10px;
			border-color:#DBD2E0;
			text-align:center;
}

.maintext a:link {color:#000000;
}
.maintext a:hover {color:#0000FF;
}

.footer {margin:10px;
		text-align:center;
		color:#FFFFFF;
		
}