body	{background-color:#455964;
}

hr		{border-color:#000000;
}
.headertext h3 {text-align:center;
			color:#FFFFFF;
}
.headertext small {color:#DDDDDD;
			
}

.maintext button {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
.maintext button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}


.everyother  li:nth-child(odd){background-color:#2D3336;
}
.everyother	li:nth-child(even){background-color:#12212A;
}
.everyother ul {list-style-type:none;
			font-size:18pt;
			margin:0 0 10px 0;
}
.everyother	a {color:#FFFFFF;
}

.everyother li:hover{background-color:#445561;
}






#active {background-color:#718EA4;
}

.logo {margin-top:10px;
	   text-align:center;
	   background: linear-gradient(#0F181E, #30383D); 
	   overflow-y:hidden;
	 height:20%;
	   
}

.logo img{height:100%;
		width:80%;
		}

.textlist {margin:0% 35%;
		  font-size:18pt;
}

.content {background-color:#434F56;
		height:100%;
		margin-left:5px;
		width: 77%;
		float:right;
}

.menubar {background-color:#434F56;
		  padding: 10px 10px 10px 10px;
		  text-align:center;
		  height:100%;
		  display:inline-block;
		  width:20%;
}



.body {margin:0% 5% 5% 5%;
}

@-moz-document url-prefix() {
  .ad img {
    width:100%;
	height:100%;
  }
}
	

.ad {width:95%;
	padding: 0px 0px 5px 20px;
	display:inline-block;
}

.maintext {background-color:#EDEDED;
			height:100%;
			margin:10px 10px 25px 10px;
			border-color:#DBD2E0;
			text-align:center;
			padding:0px 5%;]
}

p {display:inline-block;
}

.maintext p{font-size:16pt;
}

.maintext a:link {color:#666666;
}

.maintext a:visited {color:#666666;
}

.maintext a:hover {color:#CCCCCC;
}

.maintext a:active {color:#666666;
}

.footer {margin:10px;
		text-align:center;
		color:#FFFFFF;
}

footer  a:link {color:#CCCCCC;
}

footer a:hover {color:#FFFFFF;
}

@media (max-width:800px) {
.content {
		width:100%;
}
.menubar {width:100%;
		padding-bottom:0px;
}

.ad {display:none;
	width:0%;
	height:0%;
	padding:0px;}

.content {margin-top:0px;
margin-bottom:0px;
}	
	
	
}



